#root {
  height: 100%;
  width: 100%;
  margin: 0;
}
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}
.navbar {
  padding-left: 0.5rem;
}
.card-title.truncate {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.logo {
  height: 2em;
  margin-right: 10px;
  will-change: filter;
  transition: filter 300ms;
}
.logo.react {
  animation: logo-spin infinite 20s linear;
}
.logo:hover {
  filter: drop-shadow(0 0 1em #666);
}
.logo.react:hover {
  filter: drop-shadow(0 0 1em #666);
}

.round-circle-cart {
  position: absolute;
  top: 3px;
  right: -2px;
  border-radius: 50%;
  font-size: 0.65rem;
  font-weight: bold;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.btn-outline-light:hover {
  color: lightgray; 
}

.carousel-div {
  height: 500px;

}

.link-hover:hover{
  color: gray;
}

.link-hover:hover{
  color: gray;
  text-decoration: none;
  font-style: normal;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.card-product {
  height: 400px;
}

.read-the-docs {
  color: #888;
}

.flex-div{
      flex-direction:row;
}
.card-div{
      padding-right: 0px !important;
}

.random-user{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
  
@media (min-width: 580px) {
    .flex-div{
      display: flex;
    }
    .card-div{
      padding-right: 1.5rem !important;
    }
    .random-user{
      text-align: left;
    }
    
}